.container-fluid img {
    width: 100%;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: rgba(255, 255, 255, 0.5);
    /* Semi-transparent background */
    backdrop-filter: blur(10px);
    /* Apply the blur effect */
    /* For Safari */
    padding: 20px;
    /* Add some padding */
    border-radius: 10px;
    /* Optional: Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Optional: A subtle border */
    color: #333;
    /* Text color */
}

.dropdown-menu li {
    transition: transform 0.5s;
}

.dropdown-menu li:hover {
    transform: scale(0.9);
}

li {
    cursor: pointer;
}

.cart_con {
    transition: box-shadow 0.9s;
    background-color: white;
    border-radius: 5px;
}

.cart_con:hover {
    cursor: pointer;
}

a {
    cursor: pointer;
}

.sam {
    transform: rotate(135deg);
}

.category-div {
    animation: cat .5s ease-in;
}

@keyframes cat {
    0% {
        opacity: 0.8;
        /* transform: scale(0.1); */
    }
    100% {
        opacity: 1;
        /* transform: scale(0.9);
        transform: skew(20px); */
    }
}